<% include partials/header %>

<form method="POST" action="/users/login">

<p><input 
    type="text" 
    id="username" 
    name="username" 
    placeholder="Gebruikersnaam"></p>

<p><input
    type="password" 
    id="password" 
    name="password" 
    placeholder="Wachtwoord"></p>


<p><button type="submit">LOGIN</button></p>

</form>

<% include partials/footer %>